:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --transpered-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --btn-hover: #188ce8;
  --border-header-color: #ececec;
  --border-footer-color: #eeeeee;
  --socials-color: #afb1b8;
  --black-socials-color: rgba(255, 255, 255, 0.1);
  --indent: 30px;
  --items: 4;
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --color-shadow: rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.main__content, .footer__phone, .footer__mail, .footer__link, .clients__link, .nav__link, .header__phone, .header__mail, .mobile-socials__link, .mobile-contacts__mail, .mobile-contacts__phone, .mobile-nav__link, .socials__link, .logo {
  text-decoration: none;
  color: currentColor;
  line-height: 1.71;
}

.main__items, .main__list, .footer__list, .clients, .team__list, .about__list, .features__list, .nav__list, .mobile-socials, .mobile-nav, .socials {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clients__link, .clients, .about__label, .features__icons, .modal__btn, .overlay, .form__agreement, .socials__link, .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .logo {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.logo__footer {
  color: var(--main-white-color);
}

.logo--white {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 20px;
}

.hero__btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px var(--color-shadow);
          box-shadow: 0px 4px 4px var(--color-shadow);
  border: none;
  -webkit-transition: background-color var(--animation-hover);
  transition: background-color var(--animation-hover);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-hover);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--main-white-color);
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.features__subtitle {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.title {
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.socials {
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.socials__link {
  width: 44px;
  height: 44px;
  color: var(--socials-color);
  background-color: var(--main-white-color);
  border-radius: 50%;
  -webkit-transition: color var(--animation-hover), background-color var(--animation-hover);
  transition: color var(--animation-hover), background-color var(--animation-hover);
}
.socials__link:hover, .socials__link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
}

.link--black {
  background-color: var(--black-socials-color);
  color: var(--main-white-color);
  -webkit-transition: background-color var(--animation-hover);
  transition: background-color var(--animation-hover);
}
.link--black:hover, .link--black:focus {
  background-color: var(--accent-color);
}

.contact-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .contact-form__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.contact-form__input {
  width: 100%;
  padding: 15px 16px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--transpered-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px var(--color-shadow));
          filter: drop-shadow(0px 4px 4px var(--color-shadow));
  border-radius: 4px;
}

.contact-form__label {
  max-width: 450px;
  width: 100%;
}

.form {
  text-align: center;
}

.form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width) {
  .form__title {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.form__group {
  margin-bottom: 20px;
}

.form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.form__wrap:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--animation-hover);
  transition: border-color var(--animation-hover);
}
.form__input:focus-within, .form__input:hover {
  border-color: var(--accent-color);
}
.form__input:focus-within + .form__icon, .form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding: 12px 16px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--animation-hover);
  transition: border-color var(--animation-hover);
  resize: none;
  height: 120px;
}
.form__message:focus-within, .form__message:hover {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}

.form__agreement {
  gap: 8px;
  margin-bottom: 30px;
}

.form__checkbox:checked + .form__register .form__icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--animation-hover);
  transition: opacity var(--animation-hover);
}

.form__icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--animation-hover);
  transition: opacity var(--animation-hover);
}
.form__checkbox:checked + .form__register .form__icon-check {
  opacity: 1;
}

.form__text {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-underline-position: under;
}
@media screen and (min-width: 1200px) {
  .form__text {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.form__link {
  cursor: pointer;
  color: var(--accent-color);
}

.form__btn {
  width: 200px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px var(--color-shadow);
          box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  cursor: pointer;
  -webkit-transition: background-color var(--animation-hover);
  transition: background-color var(--animation-hover);
}
.form__btn:hover, .form__btn:focus {
  background-color: var(--btn-hover);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  -webkit-transition: -webkit-transform var(--animation-hover);
  transition: -webkit-transform var(--animation-hover);
  transition: transform var(--animation-hover);
  transition: transform var(--animation-hover), -webkit-transform var(--animation-hover);
}
.main__content:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bgc);
  -webkit-transition: opacity var(--animation-hover), visibility var(--animation-hover);
  transition: opacity var(--animation-hover), visibility var(--animation-hover);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  min-height: 581px;
  background-color: var(--main-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out 100ms, -webkit-transform 500ms ease-in-out 100ms;
  transition: opacity 500ms ease-in-out 100ms, -webkit-transform 500ms ease-in-out 100ms;
  transition: transform 500ms ease-in-out 100ms, opacity 500ms ease-in-out 100ms;
  transition: transform 500ms ease-in-out 100ms, opacity 500ms ease-in-out 100ms, -webkit-transform 500ms ease-in-out 100ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.5) rotate(1turn);
          transform: translate(-50%, -50%) scale(0.5) rotate(1turn);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  fill: var(--logo-color);
  background: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: fill var(--animation-hover);
  transition: fill var(--animation-hover);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}

.menu-btn {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-overlay .menu-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-color);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: var(--main-white-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--animation-hover), visibility var(--animation-hover);
  transition: opacity var(--animation-hover), visibility var(--animation-hover);
}
@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
}
.menu-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
  background-color: var(--main-white-color);
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--animation-hover);
  transition: -webkit-transform var(--animation-hover);
  transition: transform var(--animation-hover);
  transition: transform var(--animation-hover), -webkit-transform var(--animation-hover);
}
.menu-overlay.is-open .menu-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav__item {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}

.mobile-nav__link--current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__phone {
  display: block;
  font-size: 34px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-socials__item:not(:last-child) .mobile-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--logo-color);
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
.header__mail:hover, .header__mail:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header__mail {
    padding: 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__mail {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
.header__phone:hover, .header__phone:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header__phone {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__phone {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .header__promo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__promo {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header__promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--indent);
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
  color: var(--title-text-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-bg-color);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img_lg@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img_lg@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Img_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Img_lg@2x.jpg);
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--indent);
  }
}

.features__item {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: var(--indent);
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}

.features__icons {
  height: 120px;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__desc {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
}

.about__list {
  --items: 3;
}

.about__item {
  position: relative;
}

.about__label {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-bg-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .team__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --items: 4;
  }
}

.team__wrapper {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    padding-bottom: 30px;
  }
}

.team__desc {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team__item {
  background-color: var(--main-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  gap: var(--indent);
}

.clients__item {
  --items: 2;
}
@media screen and (min-width: 768px) {
  .clients__item {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    --items: 6;
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--socials-color);
  border-radius: 4px;
  color: var(--socials-color);
  -webkit-transition: color var(--animation-hover), border var(--animation-hover), outline var(--animation-hover);
  transition: color var(--animation-hover), border var(--animation-hover), outline var(--animation-hover);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 0;
  }
}

.footer__left-side {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__left-side {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__left-side {
    width: 25.3%;
    text-align: left;
  }
}

.footer__address {
  font-style: inherit;
}

.footer__item {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: var(--main-white-color);
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__mail {
  color: var(--transpered-color);
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
.footer__mail:hover, .footer__mail:focus {
  color: var(--accent-color);
}

.footer__phone {
  color: var(--transpered-color);
  -webkit-transition: color var(--animation-hover);
  transition: color var(--animation-hover);
}
.footer__phone:hover, .footer__phone:focus {
  color: var(--accent-color);
}

.footer__right-side {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__right-side {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__right-side {
    width: 25%;
  }
}

.footer__header {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-white-color);
}
@media screen and (max-width: 1199px) {
  .footer__header {
    text-align: center;
  }
}

.footer__btn {
  min-width: 200px;
  min-height: 50px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px 28px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px var(--color-shadow);
          box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__form {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    width: 48.7%;
  }
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .main__list {
    width: 326px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .main__list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main__list {
    margin-bottom: 50px;
  }
}

.main__items {
  --items: 1;
}
@media screen and (min-width: 768px) {
  .main__items {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .main__items {
    --items: 3;
  }
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--animation-hover);
  transition: -webkit-box-shadow var(--animation-hover);
  transition: box-shadow var(--animation-hover);
  transition: box-shadow var(--animation-hover), -webkit-box-shadow var(--animation-hover);
}
.main__content:hover, .main__content:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main__tumb {
  position: relative;
  overflow: hidden;
}

.main__desk {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--border-footer-color);
  border-top: none;
}

.main__service {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.main__direction {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.main__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  -webkit-transition: color var(--animation-hover), background-color var(--animation-hover), -webkit-box-shadow var(--animation-hover);
  transition: color var(--animation-hover), background-color var(--animation-hover), -webkit-box-shadow var(--animation-hover);
  transition: color var(--animation-hover), background-color var(--animation-hover), box-shadow var(--animation-hover);
  transition: color var(--animation-hover), background-color var(--animation-hover), box-shadow var(--animation-hover), -webkit-box-shadow var(--animation-hover);
}
.main__button:hover, .main__button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */