.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  justify-content: center;
  align-items: center;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 60px;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 60px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: baseline;
    gap: 0;
  }
}

.footer__left-side {
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 120px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}
.footer__address {
  font-style: inherit;
}

.footer__item {
  @include fonts(14px, 24px);
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__link {
  @extend %reset-link;

  color: var(--main-white-color);
  transition: color var(--animation-hover);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__mail {
  @extend %reset-link;

  color: var(--transpered-color);
  transition: color var(--animation-hover);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__phone {
  @extend %reset-link;

  color: var(--transpered-color);
  transition: color var(--animation-hover);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__right-side {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__header {
  @include fonts(14px, 16px, 700);
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--main-white-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__list {
  @extend %reset-list;
}

.footer__btn {
  min-width: 200px;
  min-height: 50px;
  @include fonts(16px, 30px, 700, 0.06em);
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px 28px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__form {
  width: 100%;
}