.logo {
  @extend %reset-link;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--secondary-font);
  @include fonts(24px, 28px, 700);
  color: var(--accent-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    @include fonts(26px, 31px, 700);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.logo__footer {
  color: var(--main-white-color);
}

.logo--white {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 20px;
}
